
<!doctype html>
<html lang="en">

<head>
  <title>E-Commerce Web</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<style>
  .header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: aquamarine;

  }


  .card:hover {
    transform: scale(1.1);
  }

  .card-img-top {
    width: 14.85rem;
    /* You can set the dimensions to whatever you want */
    height: 15rem;
    object-fit: cover;
  }
  .card-title-price {
    color: rgb(19, 226, 47);
    text-align: center;
  }
  .card-title {
    font-weight: bold;
    text-align: center;
  }
  .card-body {
    text-align: center;
  }

  .my-link {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    display: block;
  }
</style>

<body class="bg-image" style="
        background-image: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg);
        height: 100vh;
      ">
  <header class="header" >
    <nav class="navbar navbar-expand-lg bg-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">E-Commerce Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <% if (isAuthenticated) { %>
                          <% if (isAdmin) { %>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="admin/add-product">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="admin/add-product">Admin Dashboard</a>
              </li>
                        <% } %>

            <!-- <li class="nav-item">
              <a class="nav-link" href="auth/Logout">Logout</a>
            </li> -->
            <% } %>
           
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
CATEGORIES            
              </a>
              
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Shoes</a></li>
                <li><a class="dropdown-item" href="#">Electronics</a></li>
                
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-cart" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg></a>
            </li>
            <% if (!isAuthenticated) { %>
            <li class="nav-item">
              <a class="nav-link" href="auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="auth/signup">Signup</a>
            </li>
            <% } %>
          </ul>
          <% if (isAuthenticated) { %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= name %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
            </ul>
          </div>
               <% } %>       
        </div>
      </div>
    </nav>
  </header>

  
  <main>
    <div class="container" >
   
    </div>
    <div class="container mt-3"  style="text-align: center ">
      <h4>CATEGORIES</h4>
      <form class=" mt-2" style=" text-align: center;" role="search">
        <button class="btn btn-outline-success" name="category" value="Electronics" href="/category"
          type="submit">Electronics</button>
        <button class="btn btn-outline-success" name="category" value="Clothes" href="/category" type="submit">Clothes</button>
        <button class="btn btn-outline-success" name="category" value="Shoes" href="/category" type="submit">Shoes</button>

        <button class="btn btn-outline-success" name="category" value="Other" href="/category" type="submit">Other</button>
      </form>
            
      <form class="d-flex mt-2" style="display:block" role="search">
        <input class="form-control me-2" type="search" name="name" placeholder="Search Product" aria-label="Search">
        <button class="btn btn-outline-success" href="/name" type="submit">Search</button>
      </form>
    </div>
    <% if (prods.length > 0) { %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <% for (let product of prods) { %>

          <tr>
            <th scope="row"><%= product.id %></th>
            <td><%= product.name %></td>
            <td><%= product.category %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td> 
              <button class="btn btn-outline-success" href="/editProduct" type="submit">Edit</button>
              <a href="/admin/deleteProduct/<%= product.id %>" class="btn btn-outline-success">Delete</a>

            </td>
          </tr>
          <% } %>

          
        </tbody>
      </table>
      
      
    <% } else { %>
      <h1>No Products Found!</h1>
  <% } %>
  <div class="pages mt-5" style=" justify-content: center; display: flex;"  >
    <nav aria-label="...">
      <ul class="pagination" >
        <li class="page-item">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item "><a class="page-link" href="/admin/?page=1">1</a></li>
        <li class="page-item "><a class="page-link" href="/admin/?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/admin/?page=3">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</div>
       
</main>
  <footer class="footer mt-5 mb-0">
    <section>
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #535353;">
  
        <!-- Grid container -->
  
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="/">E-Commerce Web</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
</body>
<style>
.mt{
  margin-top: 250px;
}
.mb{
  margin-bottom: 250px;
}
.container{
 
  align-items: center;
  align-content: center;
  width: 500px;
  
}
.footer{
   /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 200px;
   
}

</style>

</html>



