<!doctype html>
<html lang="en">

<head>
  <title>E-Commerce Web</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<style>
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }

 

  .card-registration .select-arrow {
    top: 13px;
  }

  .bg-grey {
    background-color: #eae8e8;
  }

  .section-main {
    margin: 100px 0px;
  }

  @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
</style>
<!-- Bootstrap JavaScript Libraries -->


<body class="bg-image" style="
background-image: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg);
height: 100vh">
  <%- include('./layout/header', {isAuthenticated,isAdmin}); %>
    <main style="height:90.1vh">

      <section class="section-main">
        <div class="containe mb-5">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        <h6 class="mb-0 text-muted">
                          <%= itemsCount %> items
                        </h6>
                      </div>
                      <% for (let item of items) { %>
                        <hr class="my-4">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img src="/images/<%= item.product.imageUrl %>" class="img-fluid rounded-3"
                              alt="Cotton T-shirt">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-black">
                              <%=`${item.product.name} (${item.quantity})` %>
                            </h6>
                            <h6 class="text-muted mb-0">Rs.<%= item.product.price %>
                            </h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                            <button class="btn btn-link px-2">
                              <a href="/removeFromCart/<%=item.product._id%>">-</a>
                            </button>

                            <input id="form1" min="0" name="quantity" value="<%= item.quantity %>" type="number"
                              class="form-control form-control-sm" />

                            <button class="btn btn-link px-2">
                              <a href="/addToCart/<%=item.product._id%>">+</a>
                            </button>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">Total: Rs.<%= item.product.price*item.quantity %>/-</h6>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                          </div>
                        </div>
                        <% } %>
                          <hr class="my-4">
                          <div class="pt-5">
                            <h6 class="mb-0"><a href="/" class="text-body"><i
                                  class="fas fa-long-arrow-alt-left me-2"></i>Continue Shopping</a></h6>
                          </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4">
                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">
                          <%= itemsCount %> ITEMS
                        </h5>
                        <h5>
                          <%= totalPrice %>
                        </h5>
                      </div>
                      <h5 class="text-uppercase mb-3">Shipping</h5>
                      <div class="mb-4 pb-2">
                        <select class="select">
                          <option value="1">Standard-Delivery- €5.00</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                          <option value="4">Four</option>
                        </select>
                      </div>
                      <h5 class="text-uppercase mb-3">Give code</h5>
                      <div class="mb-5">
                        <div class="form-outline">
                          <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea2">Enter your code</label>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>Rs. <%= totalPrice %>
                        </h5>
                      </div>
                      <a href="/placeOrder?id=<%=cartId%>&totalPrice=<%=totalPrice%>" type="button"
                        class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Confirm Order</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>


    <%- include('./layout/footer'); %>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
        </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
        </script>
</body>
<style>
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 200px;

  }

  .header {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: aquamarine;
    position: fixed,

  }
</style>

</html>